body{-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}


#nav_bar{
    position: fixed;
    background: #181818;
    width:15vh; height:100% ;
    left: 0px;
    opacity: 0.93;
}

#main_info{
    top:410px;
    width: 36rem;
}

.logo img{
    transform: rotate(-15deg);
    position: absolute;
    left: 9px;
    width: 125px;
    height: 125px;
}

.LOGO_IN{
    background-color: #131010c2;
    overflow: hidden;
    width: 100%;
    height: 100px;
    position: absolute;
}

#nick_n{
    position: absolute;
    right: 11px;
    bottom: 0px;
    font-family: font-file-82132;
    font-size: 40px;
    font-weight: bold;
    color: rgb(8, 253, 216);
}

#nick_n:hover{
    transition: 0.5s;
    color: #019e86;
}

.fab fa-dochub{
    font-weight: 800px;
    position: absolute;
}

.logo{
    transform: rotate(-5deg);
    font-size: 70px;
    position: absolute;
}

#D1{
    color: rgb(8, 253, 216);
    left: 13%;
    top: 17px;
}

#D2{
    top: 20px;
    left: 16.5%;
}

.LOGO_INFO{
    background-color: #131010c2;
    width: 100%;
    height: 140px;
    position: absolute;
}

#logo_ment{
    position: absolute;
    bottom: 15px;
    color: #c4c4c4;
    font-size: 13px;
    left: 25%;
}

.button {
	margin: 0px 7px 0px 7px;
	width: 140px;
	height: 45px;
    border: 2px solid rgb(8, 253, 216) !important;
    background-color: black;
    color: rgb(8, 253, 216) !important;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #000;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
}

.button:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #131010c2 !important;
    font-weight: bold;
	transform: translateY(-7px);
}

.main-menu_nav{
    position: absolute;
    top: 50%;
    margin-top: -100px;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    color: white;
    display: flex;
    text-align: center;
    border-top: 1px solid #282828;
}

.main-menu_nav > a {
    color : white;
    border-bottom: 1px solid #282828;
    line-height: 3rem;
    transition: color .3s,background-color .3s;
}

.main-menu_nav > a:hover, .social a div:hover{
    color: rgb(8, 253, 216) !important;
}

.social{
    position: absolute;
    bottom: 5rem;
    width: 100%;
}

.social a div{
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
    color: #909096;
}

#body_set{
    top: 50vh;
    left: 0px;
    width: 100%;
    height: 100%;
    padding-right: 3vh;
}

#ajax_body{
    left: 15vh;
    height: 100%;
    width: 100%;
    padding-top: 15vh;
    padding-right: 15vh;
    word-break: break-all;
    overflow: hidden;
}

#main_body{
    height: inherit;
    left: 0px;
    width: 15vh;
}


#line{
    border-radius: 5px;
}

#loading{
    z-index: 10;
}

#loading_percen{
    position: absolute;
    top: 50.1%;
    left: 56%;
}

#loading_end{
    	-webkit-animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}



/* ----------------------------------------------
 * Generated by Animista on 2021-3-17 19:21:9
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

/* ----------------------------------------------
 * Generated by Animista on 2021-3-18 0:48:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand-fwd
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      opacity: 0;
    }
  }
  @keyframes tracking-out-expand-fwd {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    60% {
      opacity: 0.8;
    }
    100% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(300px);
              transform: translateZ(300px);
      opacity: 0;
    }
  }
  

  /* ----------------------------------------------
 * Generated by Animista on 2021-3-20 13:41:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-bottom
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-out-bottom {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}



/**
 * ----------------------------------------
 * about
 * ----------------------------------------
 */

 #about{
   border: 2px solid white;
 }

 #aboutphoto{
   background: url(../img/me/profile1.jpg) no-repeat center center;
   background-size: 34vh auto;
   height: 51vh;
 }